<div class="card" style="width: 100%; min-height: 100%;">
    <img class="card-img-top mx-auto" src="<%= pokemon.img %>" alt="meteo" style="height: 100px; width: 100px;">
    <div class="card-body">
        <h5 class="card-title">Pokemon</h5>
        <p class="card-text">ID : <%=  pokemon.id %></p>
        <p class="card-text">Nom (Anglais) : <%=  pokemon.name %></p>
        <p class="card-text">Masse : <%=  pokemon.weight %> g</p>
        <p class="card-text">Taille : <%=  pokemon.height %> cm</p>
    </div>
</div>
<form action="/home/pokemon" method="POST">
    <div class="input-group">
        <div class="input-group-append"><span class="input-group-text">#</span></div>
        <input type="number" class="form-control" value="<%= pokemon.id %>" id="selectPokemon" name="selectPokemon" maxlength="3">
    </div>
    <button type="submit" class="btn btn-primary">Changer de Pokemon</button>
</form>